body {
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: DarkSlateGray;
  font-size: 48px;
  font-family: serif;
}

h2 {
  color: kSlateGray;
  font-size: 32px;
  font-family: serif;
}

p {
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
}
